<?xml version="1.0" encoding="GBK"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  metadata-complete="true" version="3.0">

  <context-param>
    <param-name>application.name</param-name>
    <param-value>java-web</param-value>
  </context-param>

  <listener>
    <listener-class>com.shawn.study.deep.in.java.jndi.listener.BeanContextListener</listener-class>
  </listener>

</web-app>